@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Ubuntu&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: var(--main-bg-color);
    font-family: 'Noto Sans', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    /* color: rgb(34, 17, 213); */
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 20px;
    border-radius: 2px;
    margin: 0 16px 0 70px;
    padding: 0 12px;
}

.search button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}

.slider {
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.card {
    max-width: 88vw;
    margin: auto;
    /* background-color: var(--main-bg-color); */
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
    background-color: lightcyan;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.card h2 {
    font-family: 'Ubuntu', sans-serif;
}

footer {
    background-color: var(--main-bg-color);
    height: 12vh;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}